extends ../marchsadnesslayout
block content
    script(type="text/javascript")!= "var team = " + teamString + "; var msTeams = " + msTeamsString + ";"
    script(src="../../javascripts/knockout-v3.2.0.js")
    script(src="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.js")
    script(src="../../javascripts/marchSadness/users/viewSingleTeam.js")
    script(src="../../javascripts/marchSadness/users/makeTeamSelectionsv2.js")
    link(rel="stylesheet", href="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.css")
    div.row
        div.ms-font-bold.ms-font-size-30= team.name
    div.row
        h1#sadnessScore.pull-right.ms-font-size-20.ms-font-normal= "Sadness Score: " + team.totalScore
        div#tabs
            ul#roundTabs.ms-font-size-14.text-center
                if (!config.roundStarted.round1)
                    li#r1tab.ms-single-team-table-tab
                        a#r1tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round1", role="tab", data-toggle="tab")= 'Round 1 '
                            div.round-start-date.ms-font-light= (config.roundStarted.round1 ? '(Locked)' : '3/19, 3/20')
                else
                    li#r1tab.ms-single-team-table-tab
                        a#r1tab-a.ms-background-white.ms-font-bold(href="#Round1", role="tab", data-toggle="tab")= 'Round 1 '
                            div.round-start-date.ms-font-light= (config.roundStarted.round1 ? '(Locked)' : '3/19, 3/20')
                if (config.roundStarted.round1 && !config.roundStarted.round2)
                    li#r2tab.ms-single-team-table-tab
                        a#r2tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round2", role="tab", data-toggle="tab")= 'Round 2'
                            div.round-start-date.ms-font-light= (config.roundStarted.round2 ? '(Locked)' : '3/21, 3/22')
                else
                    li#r2tab.ms-single-team-table-tab
                        a#r2tab-a.ms-background-white.ms-font-bold(href="#Round2", role="tab", data-toggle="tab")= 'Round 2'
                            div.round-start-date.ms-font-light= (config.roundStarted.round2 ? '(Locked)' : '3/21, 3/22')
                if (config.roundStarted.round2 && !config.roundStarted.round3)
                    li#r3tab.ms-single-team-table-tab
                        a#r3tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round3", role="tab", data-toggle="tab")= 'Round 3'
                            div.round-start-date.ms-font-light= (config.roundStarted.round3 ? '(Locked)' : '3/26, 3/27')
                else
                    li#r3tab.ms-single-team-table-tab
                        a#r3tab-a.ms-background-white.ms-font-bold(href="#Round3", role="tab", data-toggle="tab")= 'Round 3'
                            div.round-start-date.ms-font-light= (config.roundStarted.round3 ? '(Locked)' : '3/26, 3/27')
                if (config.roundStarted.round3 && !config.roundStarted.round4)
                    li#r4tab.ms-single-team-table-tab
                        a#r4tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round4", role="tab", data-toggle="tab")= 'Round 4'
                            div.round-start-date.ms-font-light= (config.roundStarted.round4 ? '(Locked)' : '3/28, 3/29')
                else
                    li#r4tab.ms-single-team-table-tab
                        a#r4tab-a.ms-background-white.ms-font-bold(href="#Round4", role="tab", data-toggle="tab")= 'Round 4'
                            div.round-start-date.ms-font-light= (config.roundStarted.round4 ? '(Locked)' : '3/28, 3/29')
                if (config.roundStarted.round4 && !config.roundStarted.round5)
                    li#r5tab.ms-single-team-table-tab
                        a#r5tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round5", role="tab", data-toggle="tab")= 'Round 5'
                            div.round-start-date.ms-font-light= (config.roundStarted.round5 ? '(Locked)' : '4/4')
                else
                    li#r5tab.ms-single-team-table-tab
                        a#r5tab-a.ms-background-white.ms-font-bold(href="#Round5", role="tab", data-toggle="tab")= 'Round 5'
                            div.round-start-date.ms-font-light= (config.roundStarted.round5 ? '(Locked)' : '4/4')
                if (config.roundStarted.round5 && !config.roundStarted.round6)
                    li#r6tab.ms-single-team-table-tab
                        a#r6tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round6", role="tab", data-toggle="tab")= 'Round 6'
                            div.round-start-date.ms-font-light= (config.roundStarted.round6 ? '(Locked)' : '4/6')
                else
                    li#r6tab.ms-single-team-table-tab
                        a#r6tab-a.ms-background-white.ms-font-bold(href="#Round6", role="tab", data-toggle="tab")= 'Round 6'
                            div.round-start-date.ms-font-light= (config.roundStarted.round6 ? '(Locked)' : '4/6')
            div.tab-content
                each round, index in [1,2,3,4,5,6]
                    div.tab-pane(id="Round"+round, class=(round === 1 ? "active" : ""))
                        if(userIsOwner || config.roundStarted['round'+round])
                            table.ms-background-white.ms-single-team-table
                                thead
                                    tr
                                        th.ms-grey-line= "Teams"
                                        th.ms-grey-line.text-center Missed 3's
                                        th.ms-grey-line.text-center Missed 2's
                                        th.ms-grey-line.text-center Missed FT's
                                        th.ms-grey-line.text-center Round Score
                                tbody
                                    if (round === 1 || round === 2)
                                        each pickRow in [1,2,3,4,5,6]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line
                                                        select(data-bind="options: allNcaaTeamsList")
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    else if (round === 3 || round === 4)
                                        each pickRow in [1,2,3]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    else if (round === 5 || round === 6)
                                        each pickRow in [1]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    tr
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center.ms-font-size-20.ms-font-normal= "Round Score = " + team.scores['round' + round]
        button#editBallotButton.btn.btn-ms-orange.ms-text-bold.ms-font-size-14(value= team._id) Edit Picks
        br
        br




//extends ../marchsadnesslayout
//block content
//    script(type="text/javascript")!= "var team = " + teamString + "; var msTeams = " + msTeamsString +";"
//    script(src="../../javascripts/knockout-v3.2.0.js")
//    script(src="../../javascripts/marchSadness/users/makeTeamSelections.js")
//    div(class="container")
//        div.jumbotron.text-center
//            br
//            h1
//                span.fa.fa-lock= team.name
//            a(href="/marchsadness/viewSingleTeam/"+team._id, class="btn btn-default")
//                span.fa.fa-user View This Team
//            a(href="/marchsadness/viewmyteams", class="btn btn-default")
//                span.fa.fa-user View All My Teams
//        if owner !== user._id.id
//            h3.text-center You are not authorized to view this team
//        else
//            div.container
//                div.row.text-center
//                    button#save.btn.btn-success.btn(value= team._id, data-bind="click: addTeam") Save Changes
//                    button#saving.btn.btn-success.btn.disabled Saving
//                br
//                div.row(role="tabpanel")
//                    ul#roundTabs.nav.nav-tabs(role="tablist")
//                        li#r1tab.active(role="presentation")
//                            a(href="#Round1", aria-controls="home", role="tab", data-toggle="tab")= 'Round 1 ' + (config.roundStarted.round1 ? '(L)' : '')
//                        li#r2tab(role="presentation")
//                            a(href="#Round2", aria-controls="profile", role="tab", data-toggle="tab")= 'Round 2 ' + (config.roundStarted.round2 ? '(L)' : '')
//                        li#r3tab(role="presentation")
//                            a(href="#Round3", aria-controls="messages", role="tab", data-toggle="tab")= 'Round 3 ' + (config.roundStarted.round3 ? '(L)' : '')
//                        li#r4tab(role="presentation")
//                            a(href="#Round4", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 4 ' + (config.roundStarted.round4 ? '(L)' : '')
//                        li#r5tab(role="presentation")
//                            a(href="#Round5", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 5 ' + (config.roundStarted.round5 ? '(L)' : '')
//                        li#r6tab(role="presentation")
//                            a(href="#Round6", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 6 ' + (config.roundStarted.round6 ? '(L)' : '')
//                    br
//                    div.tab-content
//                        div.tab-pane.active(role="tabpanel",id="Round1")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round1picks")
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round1)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                        div.tab-pane(role="tabpanel", id="Round2")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round2picks")
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round2)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                        div.tab-pane(role="tabpanel", id="Round3")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round3picks")
//                                    div.col-xs-1
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round3)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                                    div.col-xs-1
//                        div.tab-pane(role="tabpanel", id="Round4")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round4picks")
//                                    div.col-xs-1
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round4)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                                    div.col-xs-1
//                        div.tab-pane(role="tabpanel", id="Round5")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round5picks")
//                                    div.col-xs-5
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round5)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                                    div.col-xs-5
//                        div.tab-pane(role="tabpanel", id="Round6")
//                            div.container
//                                div.row.text-center(data-bind="foreach: round6picks")
//                                    div.col-xs-5
//                                    div.col-xs-2
//                                        h4.col-xs-10(data-bind="text: name")
//                                        if(!config.roundStarted.round6)
//                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
//                                    div.col-xs-5
//                hr
//                div.container
//                    br
//                    div.row
//                        div.col-xs-3(data-bind="foreach: midwestTeams")
//                            div.row(data-bind="if: notSelected() && !eliminated")
//                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: !notSelected() && !eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs E
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            br
//                        div.col-xs-3(data-bind="foreach: southTeams")
//                            div.row(data-bind="if: notSelected() && !eliminated")
//                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: !notSelected() && !eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs E
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            br
//                        div.col-xs-3(data-bind="foreach: eastTeams")
//                            div.row(data-bind="if: notSelected() && !eliminated")
//                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: !notSelected() && !eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs E
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            br
//                        div.col-xs-3(data-bind="foreach: westTeams")
//                            div.row(data-bind="if: notSelected() && !eliminated")
//                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: !notSelected() && !eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs +
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            div.row(data-bind="if: eliminated")
//                                button.disabled.col-xs-1.btn.btn-xs E
//                                div.col-xs-2(data-bind="text: seed")
//                                div.col-xs-9(data-bind="text: name")
//                            br
//                br
//                div.row.text-center
//                    div.col-xs-6
//                        p (L) Selections are locked at the start of each round.
//                    div.col-xs-6
//                        p (E) Team has been eliminated from the tournament.


