extends ../marchsadnesslayout
block content
    script(type="text/javascript")!= "var team = " + teamString + "; var msTeams = " + msTeamsString +";"
    script(src="../../javascripts/knockout-v3.2.0.js")
    script(src="../../javascripts/marchSadness/users/makeTeamSelections.js")
    div(class="container")
        div.jumbotron.text-center
            br
            h1
                span.fa.fa-lock= team.name
            a(href="/marchsadness/viewSingleTeam/"+team._id, class="btn btn-default")
                span.fa.fa-user View This Team
            a(href="/marchsadness/viewmyteams", class="btn btn-default")
                span.fa.fa-user View All My Teams
        if owner !== user._id.id
            h3.text-center You are not authorized to view this team
        else
            div.container
                div.row.text-center
                    button#save.btn.btn-success.btn(value= team._id, data-bind="click: addTeam") Save Changes
                    button#saving.btn.btn-success.btn.disabled Saving
                br
                div.row(role="tabpanel")
                    ul#roundTabs.nav.nav-tabs(role="tablist")
                        li#r1tab.active(role="presentation")
                            a(href="#Round1", aria-controls="home", role="tab", data-toggle="tab")= 'Round 1 ' + (config.roundStarted.round1 ? '(L)' : '')
                        li#r2tab(role="presentation")
                            a(href="#Round2", aria-controls="profile", role="tab", data-toggle="tab")= 'Round 2 ' + (config.roundStarted.round2 ? '(L)' : '')
                        li#r3tab(role="presentation")
                            a(href="#Round3", aria-controls="messages", role="tab", data-toggle="tab")= 'Round 3 ' + (config.roundStarted.round3 ? '(L)' : '')
                        li#r4tab(role="presentation")
                            a(href="#Round4", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 4 ' + (config.roundStarted.round4 ? '(L)' : '')
                        li#r5tab(role="presentation")
                            a(href="#Round5", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 5 ' + (config.roundStarted.round5 ? '(L)' : '')
                        li#r6tab(role="presentation")
                            a(href="#Round6", aria-controls="settings", role="tab", data-toggle="tab")= 'Round 6 ' + (config.roundStarted.round6 ? '(L)' : '')
                    br
                    div.tab-content
                        div.tab-pane.active(role="tabpanel",id="Round1")
                            div.container
                                div.row.text-center(data-bind="foreach: round1picks")
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round1)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                        div.tab-pane(role="tabpanel", id="Round2")
                            div.container
                                div.row.text-center(data-bind="foreach: round2picks")
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round2)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                        div.tab-pane(role="tabpanel", id="Round3")
                            div.container
                                div.row.text-center(data-bind="foreach: round3picks")
                                    div.col-xs-1
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round3)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                                    div.col-xs-1
                        div.tab-pane(role="tabpanel", id="Round4")
                            div.container
                                div.row.text-center(data-bind="foreach: round4picks")
                                    div.col-xs-1
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round4)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                                    div.col-xs-1
                        div.tab-pane(role="tabpanel", id="Round5")
                            div.container
                                div.row.text-center(data-bind="foreach: round5picks")
                                    div.col-xs-5
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round5)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                                    div.col-xs-5
                        div.tab-pane(role="tabpanel", id="Round6")
                            div.container
                                div.row.text-center(data-bind="foreach: round6picks")
                                    div.col-xs-5
                                    div.col-xs-2
                                        h4.col-xs-10(data-bind="text: name")
                                        if(!config.roundStarted.round6)
                                            button.col-xs-2.btn.btn-warning.btn-xs(data-bind="click: $parent.popTeam") x
                                    div.col-xs-5
                hr
                div.container
                    br
                    div.row
                        div.col-xs-3(data-bind="foreach: midwestTeams")
                            div.row(data-bind="if: notSelected() && !eliminated")
                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: !notSelected() && !eliminated")
                                button.disabled.col-xs-1.btn.btn-xs +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: eliminated")
                                button.disabled.col-xs-1.btn.btn-xs E
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            br
                        div.col-xs-3(data-bind="foreach: southTeams")
                            div.row(data-bind="if: notSelected() && !eliminated")
                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: !notSelected() && !eliminated")
                                button.disabled.col-xs-1.btn.btn-xs +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: eliminated")
                                button.disabled.col-xs-1.btn.btn-xs E
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            br
                        div.col-xs-3(data-bind="foreach: eastTeams")
                            div.row(data-bind="if: notSelected() && !eliminated")
                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: !notSelected() && !eliminated")
                                button.disabled.col-xs-1.btn.btn-xs +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: eliminated")
                                button.disabled.col-xs-1.btn.btn-xs E
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            br
                        div.col-xs-3(data-bind="foreach: westTeams")
                            div.row(data-bind="if: notSelected() && !eliminated")
                                button.col-xs-1.btn.btn-primary.btn-xs(data-bind="click: $parent.pushTeam" ) +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: !notSelected() && !eliminated")
                                button.disabled.col-xs-1.btn.btn-xs +
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            div.row(data-bind="if: eliminated")
                                button.disabled.col-xs-1.btn.btn-xs E
                                div.col-xs-2(data-bind="text: seed")
                                div.col-xs-9(data-bind="text: name")
                            br
                br
                div.row.text-center
                    div.col-xs-6
                        p (L) Selections are locked at the start of each round.
                    div.col-xs-6
                        p (E) Team has been eliminated from the tournament.


