extends ../marchsadnesslayout
block content
    script(type="text/javascript")!= "var team = " + teamString + "; var msTeams = " + msTeamsString + ";"
    script(src="../../javascripts/knockout-v3.2.0.js")
    script(src="../../javascripts/marchSadness/users/viewSingleTeam.js")
    script(src="../../javascripts/marchSadness/users/viewSingleTeamViewModel.js")
    script(src="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.js")
    link(rel="stylesheet", href="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.css")
    div.row
        div.ms-font-bold.ms-font-size-30= team.name
    div.row
        div#sadnessScore.pull-right.ms-font-size-20.ms-font-bold= "Sadness Score: " + team.totalScore
        div#tabs
            ul.ms-font-size-14.text-center#roundTabs
                if(userIsOwner || config.roundStarted['round1'])
                    if (!config.roundStarted.round1)
                        li#r1tab.ms-single-team-table-tab
                            a#r1tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round1", role="tab", data-toggle="tab")= 'ROUND 1 '
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round1 ? '(Locked)' : 'March 19-20')
                    else
                        li#r1tab.ms-single-team-table-tab
                            a#r1tab-a.ms-background-white.ms-font-bold(href="#Round1", role="tab", data-toggle="tab")= 'ROUND 1 '
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round1 ? '(Locked)' : 'March 19-20')
                if(userIsOwner || config.roundStarted['round2'])
                    if (config.roundStarted.round1 && !config.roundStarted.round2)
                        li#r2tab.ms-single-team-table-tab
                            a#r2tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round2", role="tab", data-toggle="tab")= 'ROUND 2'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round2 ? '(Locked)' : 'March 21-22')
                    else
                        li#r2tab.ms-single-team-table-tab
                            a#r2tab-a.ms-background-white.ms-font-bold(href="#Round2", role="tab", data-toggle="tab")= 'ROUND 2'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round2 ? '(Locked)' : 'March 21-22')
                if(userIsOwner || config.roundStarted['round3'])
                    if (config.roundStarted.round2 && !config.roundStarted.round3)
                        li#r3tab.ms-single-team-table-tab
                            a#r3tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round3", role="tab", data-toggle="tab")= 'ROUND 3'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round3 ? '(Locked)' : 'March 26-27')
                    else
                        li#r3tab.ms-single-team-table-tab
                            a#r3tab-a.ms-background-white.ms-font-bold(href="#Round3", role="tab", data-toggle="tab")= 'ROUND 3'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round3 ? '(Locked)' : 'March 26-27')
                if(userIsOwner || config.roundStarted['round4'])
                    if (config.roundStarted.round3 && !config.roundStarted.round4)
                        li#r4tab.ms-single-team-table-tab
                            a#r4tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round4", role="tab", data-toggle="tab")= 'ROUND 4'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round4 ? '(Locked)' : 'March 28-29')
                    else
                        li#r4tab.ms-single-team-table-tab
                            a#r4tab-a.ms-background-white.ms-font-bold(href="#Round4", role="tab", data-toggle="tab")= 'ROUND 4'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round4 ? '(Locked)' : 'March 28-29')
                if(userIsOwner || config.roundStarted['round5'])
                    if (config.roundStarted.round4 && !config.roundStarted.round5)
                        li#r5tab.ms-single-team-table-tab
                            a#r5tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round5", role="tab", data-toggle="tab")= 'ROUND 5'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round5 ? '(Locked)' : 'April 4')
                    else
                        li#r5tab.ms-single-team-table-tab
                            a#r5tab-a.ms-background-white.ms-font-bold(href="#Round5", role="tab", data-toggle="tab")= 'ROUND 5'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round5 ? '(Locked)' : 'April 4')
                if(userIsOwner || config.roundStarted['round6'])
                    if (config.roundStarted.round5 && !config.roundStarted.round6)
                        li#r6tab.ms-single-team-table-tab
                            a#r6tab-a.ms-background-white.ms-font-bold.activeRound(href="#Round6", role="tab", data-toggle="tab")= 'ROUND 6'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round6 ? '(Locked)' : 'April 6')
                    else
                        li#r6tab.ms-single-team-table-tab
                            a#r6tab-a.ms-background-white.ms-font-bold(href="#Round6", role="tab", data-toggle="tab")= 'ROUND 6'
                                div.round-start-date.ms-text-gray.ms-font-normal= (config.roundStarted.round6 ? '(Locked)' : 'April 6')
            each round, index in [1,2,3,4,5,6]
                if(userIsOwner || config.roundStarted['round'+round])
                    div.tab-content(id="Round-table"+round)
                        div.tab-pane(id="Round"+round, class=(round === 1 ? "active" : ""))
                            table.ms-single-team-table
                                thead
                                    tr.ms-font-normal(id="tableHeaderR" + round)
                                        th.ms-grey-line.ms-font-normal TEAMS
                                        th.ms-grey-line.text-center.ms-font-normal MISSED 3'S
                                        th.ms-grey-line.text-center.ms-font-normal MISSED 2'S
                                        th.ms-grey-line.text-center.ms-font-normal MISSED FT's
                                        th.ms-grey-line.text-center.ms-font-normal ROUND SCORE
                                tbody
                                    if (round === 1 || round === 2)
                                        each pickRow in [1,2,3,4,5,6]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow-1])
                                                    td.ms-grey-line.ms-font-bold.ms-font-size-20(id="r"+round+"p"+pickRow+"name", value=allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].id)
                                                        div.teamTextView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow + "text")= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].teamName
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray.ms-font-normal.ms-font-size-20(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center.ms-font-bold.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line
                                                        div.teamTextView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow + "text") CLICK EDIT TO PICK TEAMS
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray.ms-font-normal.ms-font-size-20(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                    else if (round === 3 || round === 4)
                                        each pickRow in [1,2,3]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow-1])
                                                    td.ms-grey-line.ms-font-normal.ms-font-size-20(id="r"+round+"p"+pickRow+"name", value=allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].id)
                                                        div.teamTextView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow + "text")= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].teamName
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray.ms-font-normal.ms-font-size-20(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line
                                                        div.teamTextView(id="round" + round + "pick" + pickRow + "text") CLICK EDIT TO PICK TEAMS
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                    else if (round === 5 || round === 6)
                                        each pickRow in [1]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow-1])
                                                    td.ms-grey-line.ms-font-normal.ms-font-size-20(id="r"+round+"p"+pickRow+"name", value=allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].id)
                                                        div.teamTextView(id="round" + round + "pick" + pickRow + "text")= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].teamName
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView.ms-font-normal.ms-font-size-20(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow-1]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line.ms-font-normal.ms-font-size-20
                                                        div.teamTextView(id="round" + round + "pick" + pickRow + "text") CLICK EDIT TO PICK TEAMS
                                                        if (config.roundStarted['round'+round])
                                                            select.teamSelectView.ms-background-light-gray(disabled id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                        else
                                                            select.teamSelectView(id="round" + round + "pick" + pickRow, data-bind="options: round" + round + "pick" + pickRow + "options, optionsText: 'name', optionsValue:'id', selectedOptions: round" + round + "pick" + pickRow)
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray.ms-font-normal.ms-font-size-20= ''
                                                    td.ms-grey-line.text-center.ms-font-normal.ms-font-size-20= ''
                                    tr(id="tableFooter" + round)
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center.ms-font-bold.ms-font-size-20= "Total Round Score: " + team.scores['round' + round]
        if (userIsOwner)
            button#editBallotButton.btn.btn-ms-orange.ms-text-bold.ms-font-size-14 EDIT ALL PICKS
            button#saveAllChangesButton.btn.btn-ms-orange.ms-text-bold.ms-font-size-14(value= team._id, data-bind="click: saveBallot") SAVE ALL CHANGES
            button#cancelEditButton.btn.btn-ms-orange.ms-text-bold.ms-font-size-14 CANCEL
        br
        br
