extends ../marchsadnesslayout
block content
    script(src="../../javascripts/marchSadness/users/viewSingleTeam.js")
    script(src="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.js")
    link(rel="stylesheet", href="../../javascripts/jquery-ui-1.11.3.custom/jquery-ui.min.css")
    div.row
        div.ms-font-bold.ms-font-size-30= team.name
    div.row
        h1#sadnessScore.pull-right.ms-font-size-20.ms-font-normal= "Sadness Score: " + team.totalScore
        div#tabs
            ul#roundTabs.ms-font-size-14.text-center
                li#r1tab.ms-single-team-table-tab
                    a#r1tab-a.ms-background-white.ms-font-bold(href="#Round1", role="tab", data-toggle="tab")= 'Round 1 '
                        div.round-start-date.ms-font-light= (config.roundStarted.round1 ? '(Locked)' : '3/19, 3/20')
                li#r2tab.ms-single-team-table-tab
                    a#r2tab-a.ms-background-white.ms-font-bold(href="#Round2", role="tab", data-toggle="tab")= 'Round 2'
                        div.round-start-date.ms-font-light= (config.roundStarted.round2 ? '(Locked)' : '3/21, 3/22')
                li#r3tab.ms-single-team-table-tab
                    a#r3tab-a.ms-background-white.ms-font-bold(href="#Round3", role="tab", data-toggle="tab")= 'Round 3'
                        div.round-start-date.ms-font-light= (config.roundStarted.round3 ? '(Locked)' : '3/26, 3/27')
                li#r4tab.ms-single-team-table-tab
                    a#r4tab-a.ms-background-white.ms-font-bold(href="#Round4", role="tab", data-toggle="tab")= 'Round 4'
                        div.round-start-date.ms-font-light= (config.roundStarted.round4 ? '(Locked)' : '3/28, 3/29')
                li#r5tab.ms-single-team-table-tab
                    a#r5tab-a.ms-background-white.ms-font-bold(href="#Round5", role="tab", data-toggle="tab")= 'Round 5'
                        div.round-start-date.ms-font-light= (config.roundStarted.round5 ? '(Locked)' : '4/4')
                li#r6tab.ms-single-team-table-tab
                    a#r6tab-a.ms-background-white.ms-font-bold(href="#Round6", role="tab", data-toggle="tab")= 'Round 6'
                        div.round-start-date.ms-font-light= (config.roundStarted.round6 ? '(Locked)' : '4/6')
            div.tab-content
                each round, index in [1,2,3,4,5,6]
                    div.tab-pane(id="Round"+round, class=(round === 1 ? "active" : ""))
                        if(userIsOwner || config.roundStarted['round'+round])
                            table.ms-background-white.ms-single-team-table
                                thead
                                    tr
                                        th.ms-grey-line= "Teams"
                                        th.ms-grey-line.text-center Missed 3's
                                        th.ms-grey-line.text-center Missed 2's
                                        th.ms-grey-line.text-center Missed FT's
                                        th.ms-grey-line.text-center Round Score
                                tbody
                                    if (round === 1 || round === 2)
                                        each pickRow in [1,2,3,4,5,6]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].teamName
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    else if (round === 3 || round === 4)
                                        each pickRow in [1,2,3]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].teamName
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    else if (round === 5 || round === 6)
                                        each pickRow in [1]
                                            tr
                                                if (team.rounds['round'+round+'picks'][pickRow])
                                                    td.ms-grey-line= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].teamName
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed3
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missed2
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].missedFT
                                                    td.ms-grey-line.text-center= allTourneyTeams[team.rounds['round'+round+'picks'][pickRow]].scores['round'+round].score
                                                else
                                                    td.ms-grey-line= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                                    td.ms-grey-line.text-center.ms-background-even-lighter-gray= ''
                                                    td.ms-grey-line.text-center= ''
                                    tr
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center= ''
                                        td.text-center.ms-font-size-20.ms-font-normal= "Round Score = " + team.scores['round' + round]
        button.btn.btn-ms-orange.ms-text-bold.ms-font-size-14 Edit Picks
        br
        br
