extends marchsadnesslayout
block content
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-xs-12")
                    h1.text-center= title
                    p.text-center Welcome to Failure League's March Sadness!
    div.container
        div.row
            div.col-xs-2.text-center Team
            div.col-xs-2.text-center Region
            div.col-xs-2.text-center Seed
            div.col-xs-4.text-center Scores
                div(class="row")
                    div.col-xs-2.text-center R1
                    div.col-xs-2.text-center R2
                    div.col-xs-2.text-center R3
                    div.col-xs-2.text-center R4
                    div.col-xs-2.text-center R5
                    div.col-xs-2.text-center R6
            div.col-xs-2.text-center Total
        each team, i in teams
            div(class="row")
                div.col-xs-2.text-center= team.name
                div.col-xs-2.text-center= team.region
                div.col-xs-2.text-center= team.seed
                div.col-xs-4.text-center
                    div(class="row")
                        div.col-xs-2.text-center= team.scores.round1
                        div.col-xs-2.text-center= team.scores.round2
                        div.col-xs-2.text-center= team.scores.round3
                        div.col-xs-2.text-center= team.scores.round4
                        div.col-xs-2.text-center= team.scores.round5
                        div.col-xs-2.text-center= team.scores.round6
                div.col-xs-2.text-center= team.totalScore