extends msAdminLayout
block content
    script(src="/javascripts/marchSadness/admin/updateTeamScores.js")
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-xs-12")
                    h1.text-center Admin - Update Team Scores
            div.row.text-center
                button#UpdateUserScores.btn.btn-warning.btn Update User Scores
                button#UpdateUserScoresDisabled.btn.btn-warning.btn.disabled Saving

    div.container
        div.row
            p.text-center (E) = Team Eliminated From Tournament
        div.row
            div.col-xs-6.text-center(style='background: rgba(0,68,204,0.2);')
                h2 Midwest
                div.row
                    div.row
                        div.col-xs-1
                            div.h4 Seed
                        div.col-xs-2
                            div.h4 Team
                        div.col-xs-9
                            div.h4 Scores
                            div.row
                                div.col-xs-4
                                div.h4.col-xs-1 1
                                div.h4.col-xs-1 2
                                div.h4.col-xs-1 3
                                div.h4.col-xs-1 4
                                div.h4.col-xs-1 5
                                div.h4.col-xs-1 6
                                div.h4.col-xs-1 T
                                div.col-xs-1
                    each val, index in midwest
                        div.row
                            div.col-xs-1.text-align-right
                                label= index + 1
                            div.col-xs-2
                                div= (val.eliminated ? '(E) ' : '') + val.teamName
                                button.UpdateTeam.btn.btn-primary.btn-xs(value=val._id) Update
                            div.col-xs-9
                                div.row
                                    div.col-xs-4
                                        div.row Missed 3's
                                        div.row Missed 2's
                                        div.row Missed FT's
                                        div.row Round Total
                                    each num in [1,2,3,4,5,6]
                                        div.col-xs-1(id='TeamN' + (index + 1) + 'R' + num + 'scores')
                                            div.row(id='TeamN' + (index + 1) + 'R' + num + '-3p')= val.scores['round'+num].missed3
                                            div.row(id='TeamN' + (index + 1) + 'R' + num + '-2p')= val.scores['round'+num].missed2
                                            div.row(id='TeamN' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].missedFT
                                            div.row(id='TeamN' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].score
                                    div.col-xs-1#total= val.totalScore
                                    div.col-xs-1
                        br
            div.col-xs-6.text-center
                h2 South
                div.row
                    div.row
                        div.col-xs-1
                            div.h4 Seed
                        div.col-xs-2
                            div.h4 Team
                        div.col-xs-9
                            div.h4 Scores
                            div.row
                                div.col-xs-4
                                div.h4.col-xs-1 1
                                div.h4.col-xs-1 2
                                div.h4.col-xs-1 3
                                div.h4.col-xs-1 4
                                div.h4.col-xs-1 5
                                div.h4.col-xs-1 6
                                div.h4.col-xs-1 T
                                div.col-xs-1
                    each val, index in south
                        div.row
                            div.col-xs-1.text-align-right
                                label= index + 1
                            div.col-xs-2
                                div= (val.eliminated ? '(E) ' : '') + val.teamName
                                button.UpdateTeam.btn.btn-primary.btn-xs(value=val._id) Update
                            div.col-xs-9
                                div.row
                                    div.col-xs-4
                                        div.row Missed 3's
                                        div.row Missed 2's
                                        div.row Missed FT's
                                        div.row Round Total
                                    each num in [1,2,3,4,5,6]
                                        div.col-xs-1(id='TeamS' + (index + 1) + 'R' + num + 'scores')
                                            div.row(id='TeamS' + (index + 1) + 'R' + num + '-3p')= val.scores['round'+num].missed3
                                            div.row(id='TeamS' + (index + 1) + 'R' + num + '-2p')= val.scores['round'+num].missed2
                                            div.row(id='TeamS' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].missedFT
                                            div.row(id='TeamS' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].score
                                    div.col-xs-1#total= val.totalScore
                                    div.col-xs-1
                        br
            div.col-xs-6.text-center
                h2 East
                div.row
                    div.row
                        div.col-xs-1
                            div.h4 Seed
                        div.col-xs-2
                            div.h4 Team
                        div.col-xs-9
                            div.h4 Scores
                            div.row
                                div.col-xs-4
                                div.h4.col-xs-1 1
                                div.h4.col-xs-1 2
                                div.h4.col-xs-1 3
                                div.h4.col-xs-1 4
                                div.h4.col-xs-1 5
                                div.h4.col-xs-1 6
                                div.h4.col-xs-1 T
                                div.col-xs-1
                    each val, index in east
                        div.row
                            div.col-xs-1.text-align-right
                                label= index + 1
                            div.col-xs-2
                                div= (val.eliminated ? '(E) ' : '') + val.teamName
                                button.UpdateTeam.btn.btn-primary.btn-xs(value=val._id) Update
                            div.col-xs-9
                                div.row
                                    div.col-xs-4
                                        div.row Missed 3's
                                        div.row Missed 2's
                                        div.row Missed FT's
                                        div.row Round Total
                                    each num in [1,2,3,4,5,6]
                                        div.col-xs-1(id='TeamE' + (index + 1) + 'R' + num + 'scores')
                                            div.row(id='TeamE' + (index + 1) + 'R' + num + '-3p')= val.scores['round'+num].missed3
                                            div.row(id='TeamE' + (index + 1) + 'R' + num + '-2p')= val.scores['round'+num].missed2
                                            div.row(id='TeamE' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].missedFT
                                            div.row(id='TeamE' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].score
                                    div.col-xs-1#total= val.totalScore
                                    div.col-xs-1
                        br
            div.col-xs-6.text-center(style='background: rgba(0,68,204,0.2);')
                h2 West
                div.row
                    div.row
                        div.col-xs-1
                            div.h4 Seed
                        div.col-xs-2
                            div.h4 Team
                        div.col-xs-9
                            div.h4 Scores
                            div.row
                                div.col-xs-4
                                div.h4.col-xs-1 1
                                div.h4.col-xs-1 2
                                div.h4.col-xs-1 3
                                div.h4.col-xs-1 4
                                div.h4.col-xs-1 5
                                div.h4.col-xs-1 6
                                div.h4.col-xs-1 T
                                div.col-xs-1
                    each val, index in west
                        div.row
                            div.col-xs-1.text-align-right
                                label= index + 1
                            div.col-xs-2
                                div= (val.eliminated ? '(E) ' : '') + val.teamName
                                button.UpdateTeam.btn.btn-primary.btn-xs(value=val._id) Update
                            div.col-xs-9
                                div.row
                                    div.col-xs-4
                                        div.row Missed 3's
                                        div.row Missed 2's
                                        div.row Missed FT's
                                        div.row Round Total
                                    each num in [1,2,3,4,5,6]
                                        div.col-xs-1(id='TeamW' + (index + 1) + 'R' + num + 'scores')
                                            div.row(id='TeamW' + (index + 1) + 'R' + num + '-3p')= val.scores['round'+num].missed3
                                            div.row(id='TeamW' + (index + 1) + 'R' + num + '-2p')= val.scores['round'+num].missed2
                                            div.row(id='TeamW' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].missedFT
                                            div.row(id='TeamW' + (index + 1) + 'R' + num + '-ft')= val.scores['round'+num].score
                                    div.col-xs-1#total= val.totalScore
                                    div.col-xs-1
                        br